{% extends "base-front.html.twig" %}

{% block title %}
	Hotels - Tounesna
{% endblock %}

{% block navs %}
	<li>
		<a href="{{ path('home') }}">Home</a>
	</li>
	<li>
		<a href="{{ path('gouvernorats') }}">Gouvernorats</a>
	</li>
	<li class="active">
		<a href="{{ path('hotels') }}">Hotels</a>
	</li>
	<li>
		<a href="{{ path('plats') }}">Plats</a>
	</li>
	<li>
		<a href="{{ path('activities') }}">Activities</a>
	</li>
	<li>
		<a href="{{ path('events') }}">events</a>
	</li>
	<li>
		<a href="{{ path('shop') }}">shop</a>
	</li>
	{# <li><a href="{{ path('aboutus') }}">About Us</a></li> #}
	{# <li><a href="{{ path('contact') }}">Contact</a></li> #}
{% endblock %}

{% block mininavs %}
	<li>
		<a href="{{ path('home') }}">Home</a>
	</li>
	<li>
		<a href="{{ path('gouvernorats') }}">Gouvernorats</a>
	</li>
	<li class="active">
		<a href="{{ path('hotels') }}">Hotels</a>
	</li>
	<li>
		<a href="{{ path('plats') }}">Plats</a>
	</li>
	<li>
		<a href="{{ path('activities') }}">Activities</a>
	</li>
	<li>
		<a href="{{ path('events') }}">events</a>
	</li>
	<li>
		<a href="{{ path('shop') }}">shop</a>
	</li>
	{# <li><a href="{{ path('aboutus') }}">About Us</a></li> #}
	{# <li><a href="{{ path('contact') }}">Contact</a></li> #}
{% endblock %}

{% block content %}

	<div style="margin: 0 0 50px 0;" class="page-top" id="templatemo_contact"></div>
	<!-- /.page-header -->

	{% for message in app.flashes('notice') %}
		<div class="alert alert-success ">
			{{ message }}
		</div>
	{% endfor %}
	<a style="margin: 50px 0 50px 200px;" href="{{ path('app_reservation_index') }}" class="price-btn">Mes Réservations Hotels</a>
	<div class="middle-content">
		<div style="margin-bottom: 60px;" class="container">
			<div class="row">

				<div class="our-listing owl-carousel">
					{% for hotel in hotels %}
						<div class="list-item">
							<div class="list-thumb">
								<div class="title">
									<h4>{{ hotel.gouvernorat.nomGouver }}</h4>
								</div>
								<img src="{{ asset('/uploads/' ~ hotel.image) }}" alt="destination 1">
							</div>
							<!-- /.list-thumb -->
							<div class="list-content">
								<div style="display: flex;">
									<h5 style="margin-left: 0; margin-right: auto;">{{ hotel.site }}</h5>
									<h5 style="margin-right: 0; margin-left: auto; color: #78b999;">
										{% if hotel.nbEtoile <= 0 %}
											<span class="fa fa-star" style="color: #c2c0c0;"></span>
										{% else %}
											{% for i in 1..hotel.nbEtoile %}
												<span class="fa fa-star checked"></span>
											{% endfor %}
										{% endif %}

									</h5>
								</div>
								<div style="display: flex;">
									<span style="margin-left: 0; margin-right: auto;">{{ hotel.nomhotel }}</span>
									<span style="margin-right: 0; margin-left: auto; color: #78b999;">{{ hotel.price }}
										TND</span>
								</div>
								<a href="{{ path('app_reservation_hotel', {'id': hotel.idh}) }}" class="price-btn">Réserver</a>
								<div style="display: flex;">
									<a style="margin-left: 0; margin-right: auto;" href="{{ path('app_hotel_comment', {'id': hotel.idh}) }}">Add a comment</a>
									<a style="margin-left: auto; margin-right: 0;" href="{{ path('app_hotel_rate', {'id': hotel.idh}) }}">Add a rating</a>
								</div>
								<h1 style="margin-top: 40px;">Commentaires</h1>
								{% for commentaire in commentaires %}
									{% if commentaire.idHotel == hotel.idh %}
										{% for user in users %}
											{% if user.iduser == commentaire.auteur %}
												<h5 style="margin-left: 0; margin-right: auto;">{{ user.nom }}
													{{ user.prenom }}</h5>
												<div style="display: flex;">
													<span style="margin-left: 0; margin-right: auto; text-transform: none;">{{ commentaire.contenue }}</span>
													{% if user.iduser == 21 %}
														<a style="margin-left: auto; margin-right: 0;" href="{{ path('app_hotel_comment_edit', {'id': commentaire.idcom}) }}">Edit</a>
														<form style="margin-left: auto; margin-right: 0;" method="post" action="{{ path('app_commentaire_delete', {'idcom': commentaire.idcom}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
															<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commentaire.idcom) }}">
															<button class="btn">Delete</button>
														</form>
													{% endif %}
												</div>
											{% endif %}
										{% endfor %}
									{% endif %}

								{% endfor %}

								<h1 style="margin-top: 40px;">Ratings</h1>
								{% for rate in rates %}
									{% if rate.idHotel == hotel %}
										{% for user in users %}
											{% if user.iduser == rate.idUser %}
												<h5 style="margin-left: 0; margin-right: auto;">{{ user.nom }}
													{{ user.prenom }}</h5>
												<div style="display: flex;">
													<span style="margin-left: 0; margin-right: auto; text-transform: none;">{{ rate.rate }}</span>
													{# {% if user.iduser == 21 %}
																																								<a style="margin-left: auto; margin-right: 0;" href="{{ path('app_hotel_comment_edit', {'id': rate.idcom}) }}">Edit</a>
																																								<form style="margin-left: auto; margin-right: 0;" method="post" action="{{ path('app_rate_hotel_delete', {'idcom': rate.idcom}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
																																									<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rate.idcom) }}">
																																									<button class="btn">Delete</button>
																																								</form>
																																							{% endif %} #}
												</div>
											{% endif %}
										{% endfor %}
									{% endif %}

								{% endfor %}
							</div>
							<!-- /.list-content -->
						</div>
						<!-- /.list-item -->
					{% else %}
						<div class="list-item"></div>
					{% endfor %}
				</div>
				<!-- /.our-listing -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container -->
	{% endblock %}
