{% extends "base-back.html.twig" %}

{% block title %}
	Commandes
{% endblock %}

{% block pagewrapper %}
	<h1>Commande index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Num</th>
				<th>Productqty</th>
				<th>Date</th>
				<th>User</th>
				<th>Produit</th>
				<th>Price</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for commande in commandes %}
				<tr>
					<td>{{ commande.num }}</td>
					<td>{{ commande.productqty }}</td>
					<td>{{ commande.date ? commande.date|date('d-m-Y') : '' }}</td>
					<td>{{ commande.user.nom }}
						{{ commande.user.prenom }}
						|
						{{ commande.user.email }}</td>
					<td>{{ commande.produit.nomp }}</td>
					<td>{{ commande.produit.price }}</td>
					<td>
						<a href="{{ path('admin_commande_show', {'id': commande.id}) }}">show</a>
						<a href="{{ path('admin_print_commande', {'id': commande.id}) }}">export</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<a href="{{ path('admin_print_commandes', {'id': 0}) }}">export all</a>
{% endblock %}
