{% extends "base-front.html.twig" %}

{% block title %}
Participation Activity - Tounesna
{% endblock %}

{% block navs %}
    <li><a href="{{ path('home') }}">Home</a></li>
    <li><a href="{{ path('gouvernorats') }}">Gouvernorats</a></li>
    <li><a href="{{ path('hotels') }}">Hotels</a></li>
    <li><a href="{{ path('plats') }}">Plats</a></li>
    <li><a href="{{ path('activities') }}">Activities</a></li>
    <li><a href="{{ path('events') }}">events</a></li>
    <li><a href="{{ path('shop') }}">shop</a></li>
    {# <li><a href="{{ path('aboutus') }}">About Us</a></li> #}
    {# <li><a href="{{ path('contact') }}">Contact</a></li> #}
{% endblock %}

{% block mininavs %}
    <li><a href="{{ path('home') }}">Home</a></li>
    <li><a href="{{ path('gouvernorats') }}">Gouvernorats</a></li>
    <li><a href="{{ path('hotels') }}">Hotels</a></li>
    <li><a href="{{ path('plats') }}">Plats</a></li>
    <li><a href="{{ path('activities') }}">Activities</a></li>
    <li><a href="{{ path('events') }}">events</a></li>
    <li><a href="{{ path('shop') }}">shop</a></li>
    {# <li><a href="{{ path('aboutus') }}">About Us</a></li> #}
    {# <li><a href="{{ path('contact') }}">Contact</a></li> #}
{% endblock %}

{% block content %}

        <div class="page-top" id="templatemo_contact">
        </div> <!-- /.page-header -->

        <div class="middle-content">
        <div style="margin-bottom: 60px;" class="container">
            <div class="row">
                <div class="our-listing owl-carousel">
    <h2>Choisir nombre de places</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Submit</button>
    {{ form_end(form) }}
                </div> <!-- /.our-listing -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
{% endblock %}