{{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}

{{form_label(form.nomhotel,'nomhotel : ',{'attr':{'class':'form-label'}})}}
{{form_widget(form.nomhotel,{'attr':{'class':'form-control'}})}}
{{ form_errors(form.nomhotel,{'attr':{'class':'form-control'}}) }}


{{form_label(form.nbEtoile,'nbEtoile : ',{'attr':{'class':'form-label'}})}}
{{form_widget(form.nbEtoile,{'attr':{'class':'form-control'}})}}
{{ form_errors(form.nbEtoile,{'attr':{'class':'form-control'}}) }}


{{form_label(form.site,'site : ',{'attr':{'class':'form-label'}})}}
{{form_widget(form.site,{'attr':{'class':'form-control'}})}}
{{ form_errors(form.site,{'attr':{'class':'form-control'}}) }}


{{form_label(form.image,'image : ',{'attr':{'class':'form-label'}})}}
{{form_widget(form.image,{'attr':{'class':'form-control'}})}}
{{ form_errors(form.image,{'attr':{'class':'form-control'}}) }}


{{form_label(form.gouvernorat,'gouvernorat : ',{'attr':{'class':'form-label'}})}}
{{form_widget(form.gouvernorat,{'attr':{'class':'form-control'}})}}
{{ form_errors(form.gouvernorat,{'attr':{'class':'form-control'}}) }}


{{form_label(form.price,'price : ',{'attr':{'class':'form-label'}})}}
{{form_widget(form.price,{'attr':{'class':'form-control'}})}}
{{ form_errors(form.price,{'attr':{'class':'form-control'}}) }}

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
