{% extends "base-back.html.twig" %}

{% block title %}
	Hotels
{% endblock %}

{% block pagewrapper %}

	<h1>Hotels</h1>

	<form id="search-form" action="{{ path('hotel_search') }}" method="get">
		<div class="form-group">
			<input type="text" name="q" class="form-control" value="{{ query }}">
		</div>
		<button type="submit" class="btn btn-primary">Search</button>
	</form>

	<hr>

	<table class="table">
		<thead>
			<tr>
				<th>Nomhotel</th>
				<th>NbEtoile</th>
				<th>Site</th>
				<th>Image</th>
				<th>Gouvernorat</th>
				<th>Price</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for hotel in hotels %}
				<tr>
					<td>{{ hotel.nomhotel }}</td>
					<td>{{ hotel.nbEtoile }}</td>
					<td>{{ hotel.site }}</td>
					<td>
						<img style="height: 100px; object-fit: cover;" class="img-fluid" src="{{ asset('/uploads/' ~ hotel.image) }}" alt="">
					</td>
					<td>{{ hotel.gouvernorat.nomGouver }}</td>
					<td>{{ hotel.price }}</td>
					<td>
						<a href="{{ path('admin_hotel_show', {'idh': hotel.idh}) }}">show</a>
						<a href="{{ path('admin_hotel_edit', {'idh': hotel.idh}) }}">edit</a>

						{{ include('hotelAdmin/_delete_form.html.twig') }}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('admin_hotel_new') }}">Create new</a>

	<script>
		$(function () {
$('#search-form').submit(function (e) {
e.preventDefault();

$.ajax({
url: $(this).attr('action'),
data: $(this).serialize(),
success: function (data) {
$('#search-results').html(data);
}
});
});
});
	</script>
{% endblock %}
