{% extends "base-back.html.twig" %}

{% block title %}
	Activity
{% endblock %}

{% block pagewrapper %}
    <h1>Activity</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Description</th>
                <td>{{ activity.description }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ activity.adresse }}</td>
            </tr>
            <tr>
                <th>NumContact</th>
                <td>{{ activity.numContact }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>
						<img style="height: 100px; object-fit: cover;" class="img-fluid" src="{{ asset('/uploads/' ~ activity.image) }}" alt=""></td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ activity.date ? activity.date|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ activity.type }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ activity.price }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_activities_index') }}">back to list</a>

    <a href="{{ path('admin_activities_edit', {'idActivity': activity.idActivity}) }}">edit</a>

    {{ include('activitiesAdmin/_delete_form.html.twig') }}
{% endblock %}
